.mat-raised-button {
    background-color: #4caf50 !important;
    color: #fff !important;
    float: left;
}

.card_topics {
    width: 500px;
    height: 300px;
}

.card_topics_title {
    font-size: 20px;
}

.input_topics {
    width: 100%;
}

.card_topics_registed {
    width: 500px;
    height: 300px;
    float: right;
}