#game {
    padding: 5px;
    margin: 5px;
    width: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 15px !important;
}

#nav {
    padding: 5px;
    margin: 5px;
    width: 200px;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px !important;
}

#nav a:first-child {
    margin-left: 20px;
}

#nav a:last-child {
    margin-right: 20px;
}

#profile {
    padding: 5px;
    margin: 5px;
    width: 200px;
    display: flex;
}

#img-profile {
    background-color: #dedede;
    border-radius: 50%;
    width: 41px;
    height: 41px;
}

#name-profile {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-Sidebar {
    padding: 5px;
    margin: 5px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuSidebar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuSidebarGame {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

#menuSidebarGame a{
    width: 100%;
}

#menuSidebarGame mat-icon {
    color: #636363;
}

#icon-sidebar {
    display: none;
}

#icon-logout {
    display: none;
}

#titleMobile {
    display: none;
}

@media (max-width: 935px) {
    .container {
        width: 100%;
    }

    #icon-sidebar {
        display: flex;
        margin-right: 10px;
    }

    #icon-logout {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #titleMobile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 3;
    }
    #game, #nav, #profile {
        display: none;
    }

}

@media (max-width: 1100px) {
    #nav span {
        display: none;
    }
    #game span {
        display: none;
    }
}