/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.CardCenter {
    margin-left: auto;
    margin-right: auto;
}

.WidhtComplete {
    width: 100%;
}

.success {
    background-color: #2196f3;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.toolbar-dashboard {
    background-color: #ff8523;
    color: #ffffff;
}

.cardCustom {
    width: 300px;
    height: 700px;
    background-color:#f1f1f1;
    box-shadow:  0 0 5px #000000;
}

.cardCustomTitle {
    background-color: #cecece;
    width: auto;
    height: 50px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
